@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Text Colors */
/* #222 */
/* #fff */

/* Color Scheme */
/* #585858 */
/* #f25f25 */
/* #25b8f2 */

body{
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  text-align: center;
}

h1{
  font-size: 60px;
}

p{
  font-size: 20px;
}

.main8BallImage{
  width: 100%;
  max-width: 100%;
  max-width: 100%;
  height: auto;
}

button{
  /* add hover transition */
}